
/* Posts titles */
h1.title {
  font-family: Montserrat,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #066666;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  text-align: justify;
}

h1 {
  font-family: Montserrat,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #066666;
  line-height: 1;
  text-align: justify;
}

section {
  font-size: 1rem; 
}

p {
  text-align: justify;
}
