/* navbar title */
@media screen and (min-width: 0px) and (max-width: 768px) {
     .navbar-title {
       font-weight: bold;
       font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 4000px) {
     .navbar-title {
       font-weight: bold;
       font-size: 20px;
    }
}


/* website title */
h1.title {
  font-family: Montserrat,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
  font-size: 2.6rem;
  color: #066666;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  text-align: center;
}

/* footer */
.footer {
  height: auto;
}
.nav-footer {
  margin: 0;
  padding: 0;
}
.nav-footer-center {
  height: auto;
  padding: 0;
  min-width: 100%;
  margin: 0;
  auto; display: 
  block;
}

/* references */
#references {
  color: white;
}

